<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>계산기</title>
    <style>
        table{
            border-collapse: collapse;
        }
        td {
            text-align: center;
        }
        input{
            text-align: right;
            border: none;
        }
        input:focus{
            outline: none;
        }
    </style>
</head>
<body>

<table border="1">
    <!--  입력 리스너   -->
    <script>
        var outputStack = NaN;

        function charToinput(char){
            var display = document.getElementById('display');
            display.value = display.value + char;
        }

        function caculator(operator){
            if(isNaN(outputStack)){
                outputStack = operator;

                var value = document.getElementById('display').value;
                outputStack = value;
                value = '';
            }

            else{
                switch (operator){
                    case '*':
                        var arg = document.getElementById('display').value;
                        console.log(arg);

                        const xmlhttp = new XMLHttpRequest();
                        xmlhttp.open("GET", "/Multiply?arg1=" + outputStack + "&arg2=" + arg, false);
                        xmlhttp.send(null);
                        console.log(xmlhttp.responseText);
                        break;
                }
            }
        }
    </script>

    <!-- 사용자 입력    -->
    <tr>
        <td colspan="4">
            <input type="text" id="display">
        </td>
    </tr>
    <!-- 계산기 결과   -->
    <tr>
        <td colspan="4">
            <input type="text" id="result">
        </td>
    </tr>
    <tr>
        <td colspan="3>">초기화</td>
        <td>/</td>
    </tr>
    <tr>
        <td onclick="charToinput('7')">7</td>
        <td onclick="charToinput('8')">8</td>
        <td onclick="charToinput('9')">9</td>
        <td onclick="caculator('*')">*</td>
    </tr>
    <tr>
        <td onclick="charToinput('4')">4</td>
        <td onclick="charToinput('5')">5</td>
        <td onclick="charToinput('6')">6</td>
        <td>-</td>
    </tr>
    <tr>
        <td onclick="charToinput('1')">1</td>
        <td onclick="charToinput('2')">2</td>
        <td onclick="charToinput('3')">3</td>
        <td>+</td>
    </tr>
    <tr>
        <td colspan="2" onclick="charToinput('0')">0</td>
        <td>.</td>
        <td>=</td>
    </tr>

</table>

</body>
</html>