<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>계산기</title>
    <style>
        table{
            border-collapse: collapse;
        }
        td {
            text-align: center;
        }
        input{
            text-align: right;
            border: none;
        }
        input:focus{
            outline: none;
        }
    </style>
</head>
<body>

<table border="1">
    <!--  입력 리스너   -->
    <script>
        var outputStack = NaN;
        var step = 0; //step=0: 아웃풋 값 없음. step=1: 연산모드, step=2 입력모드

        function charToinput(char){
            if(step == 2){
                document.getElementById('display').value = '';
                step = 1;
            }
            document.getElementById('display').value = document.getElementById('display').value + char;
        }

        function caculator(operator){
            if(step == 0){
                outputStack = document.getElementById('display').value;
                document.getElementById('display').value = '';
                step = 1;
            }
            else if(step == 1){
                switch (operator){
                    case '+':
                        var operand = document.getElementById('display').value;

                        $.ajax({
                            url: "/Add?arg1=" + outputStack + "&arg2=" + operand,
                            method: "GET"
                        })
                        .done(function(json){
                            result = json['result'];
                            document.getElementById('display').value = result;
                            outputStack = result;
                        })
                        // .fail(function(){
                        //     console.log('failed to connect the server');
                        // })
                        break;
                }

                step = 2;
            }
        }
    </script>

    <!-- 사용자 입력    -->
    <tr>
        <td colspan="4">
            <input type="text" id="display">
        </td>
    </tr>
    <!-- 계산기 결과   -->
    <tr>
        <td colspan="4">
            <input type="text" id="result">
        </td>
    </tr>
    <tr>
        <td colspan="3>">초기화</td>
        <td>/</td>
    </tr>
    <tr>
        <td onclick="charToinput('7')">7</td>
        <td onclick="charToinput('8')">8</td>
        <td onclick="charToinput('9')">9</td>
        <td onclick="caculator('*')">*</td>
    </tr>
    <tr>
        <td onclick="charToinput('4')">4</td>
        <td onclick="charToinput('5')">5</td>
        <td onclick="charToinput('6')">6</td>
        <td>-</td>
    </tr>
    <tr>
        <td onclick="charToinput('1')">1</td>
        <td onclick="charToinput('2')">2</td>
        <td onclick="charToinput('3')">3</td>
        <td onclick="caculator('+')">+</td>
    </tr>
    <tr>
        <td colspan="2" onclick="charToinput('0')">0</td>
        <td>.</td>
        <td>=</td>
    </tr>

</table>

</body>
</html>